<nav>
    <ul class="nav-bottom">
        <li><a href="/feed.xml" title="RSS" class="nav-link"><i class="fa-solid fa-rss"></i></a></li>

        <li><a href="/feed.json" title="JSON Feed" class="nav-link"><i class="fa-regular fa-brackets-curly"></i></a></li>

        {%if site.github_url -%}
            <li><a rel="me" href="{{ site.github_url }}" title="GitHub" class="nav-link"><i class="fa-brands fa-github"></i></a></li>
        {% endif -%}

        {%if site.author.mastodon_url -%}
            <li><a rel="me" href="{{ site.author.mastodon_url }}" title="Mastodon" class="nav-link"><i class="fa-brands fa-mastodon"></i></a></li>
        {% endif -%}

        {%if site.author.bluesky_url -%}
            <li><a rel="me" href="{{ site.author.bluesky_url }}" title="Bluesky" class="nav-link"><i class="fa-brands fa-bluesky"></i></a></li>
        {% endif -%}

        {%if site.author.threads_url -%}
            <li><a rel="me" href="{{ site.author.threads_url }}" title="Threads"><i class="fa-brands fa-threads"></i></a></li>
        {% endif -%}
    </ul>
</nav>
