<article class="post post-loop-item{% if post.data.link %} link-post{% endif %}">
    <header class="post-header">
        {% if post.data.featured_image -%}
            <img src="{{ post.data.featured_image.url }}" alt="{{ post.data.featured_image.alt }}" />
        {% endif -%}

        <h1 class="post-title">
            {% if post.data.link -%}
                <a href="{{ post.data.link }}">{{ post.data.title | abbr | safe }} <i class="fa-duotone fa-solid fa-square-arrow-up-right link-arrow"></i></a>
            {%- else -%}
                <a href="{{ post.url }}">{{ post.data.title | abbr | safe }}</a>
            {%- endif %}
        </h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            <a href="{{ post.url }}" class="permalink"><i class="fa-regular fa-link-simple"></i></a>
        </section>
    </header>
    <section class="post-content">
        {{ post.content | safe }}
    </section>
</article>
