    <nav class="pagination">
        {% if pagination.href.next -%}
            <a class="older-posts" href="{{ pagination.href.next }}">&larr; Older</a>
        {%- endif %}
        {% if pagination.href.previous -%}
            <a class="newer-posts" href="{{ pagination.href.previous }}">Newer &rarr;</a>
        {%- endif %}
    </nav>
