---
# Metadata comes from _data/site.js
permalink: /feed.json
---
{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "{{ site.title }}",
	"language": "{{ site.language }}",
	"home_page_url": "{{ site.url | addPathPrefixToFullUrl }}",
	"feed_url": "{{ permalink | htmlBaseUrl(site.url) }}",
	"description": "{{ site.description }}",
	"favicon": "{{ '/icons/favicon-72.png' | htmlBaseUrl(site.url) }}",
	"authors": [{
		"name": "{{ site.author.name }}",
		"url": "{{ site.author.url }}",
		"avatar": "{{ site.author.avatar | htmlBaseUrl(site.url) }}"
	}],
	"items": [
    {%- set comma = joiner() %}
		{%- for post in collections.posts | reverse %}
		{%- set absolutePostUrl = post.url | htmlBaseUrl(site.url) %}
    {{- comma() }}
		{
			"id": "{{ absolutePostUrl }}",
			"url": "{{ absolutePostUrl }}",
			{%- if post.data.link %}
			"external_url": "{{ post.data.link | htmlBaseUrl(site.url) }}",
			{%- endif %}
			"title": "{{ post.data.title }}",
			"content_html": {% if post.templateContent %}{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) | dump | safe }}{% else %}""{% endif %},
			{%- if post.data.featured_image.url %}
    	"banner_image": "{{ post.data.featured_image.url | htmlBaseUrl(site.url) }}",
      {%- endif %}
			"date_published": "{{ post.date | dateToRfc3339 }}",
			"date_modified": "{{ (post.updated_date or post.date) | dateToRfc3339 }}",
			"authors": [{
				"name": "{{ site.author.name }}",
				"url": "{{ site.author.url }}",
				"avatar": "{{ site.author.avatar | htmlBaseUrl(site.url) }}"
			}],
      {%- set comma = joiner() %}
      "tags": [ {%- for tag in post.data.tags | filterTagList -%}
        {{ comma() }} "{{ tag }}"
      {%- endfor %} ]
	}
		{%- endfor %}
	]
}
