---
layout: base.njk
permalink: "/{{ page.date | readableDate('yyyy') }}/{{slug or title | slugify}}/"
---

<article class="post{% if link %} link-post{% endif %}">
    <header class="post-header">
        {% if featured_image -%}
            <img src="{{ featured_image.url }}" alt="{{ featured_image.alt }}" />
        {% endif -%}

        <h1 class="post-title">
            {%- if link -%}
            <a href="{{ link }}">{{ title | abbr | safe }} <i class="fa-duotone fa-solid fa-square-arrow-up-right link-arrow"></i></a>
            {%- else -%}
            {{ title | abbr | safe }}
            {%- endif -%}
        </h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            <a href="{{ post.url }}" class="permalink"><i class="fa-regular fa-link-simple"></i></a>
        </section>
    </header>
    <section class="post-content">
        {{ content | safe }}
    </section>
</article>

{% include "post-pagination.njk" %}
