.page-404 {
  text-align: center;
}

.page-404 .page-title {
  font-size: clamp(30vw, 6rem, 6rem);
  font-weight: 100;
  font-feature-settings: var(--default-font-features), "zero";
}

.page-404 h2 {
  margin: 0;
}

.page-404 .page-header {
  margin-bottom: 2rem;
}

