footer.main {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-content: baseline;
  row-gap: 0.5rem;
  column-gap: 1rem;
  width: 100%;
  margin-top: 1.25rem;
  padding-bottom: calc(1.25rem + var(--font-size-minus-1));
  text-align: center;
  overflow: hidden;
  font-size: var(--font-size-minus-1);
  color: var(--secondary-text-color);

  .powered-by {
    margin-right: 0.5rem;
  }
}

.nav-footer {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 0.5rem;
}
