.bigfoot-footnote__content {
  line-height: 1.3;
  font-size: var(--font-size-minus-1);
}

.bigfoot-footnote__button {
  font-feature-settings: "onum" off;
  font-weight: 400;
  background-color: var(--footnote-button-color);
}

.bigfoot-footnote__button:hover {
  background-color: var(--accent-color);
}

.bigfoot-footnote__button.is-active {
  opacity: 85%;
}

.bigfoot-footnote__button:after {
  color: var(--main-text-color);
}


