.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 1.25rem auto;
  font-size: var(--font-size-minus-1);
  font-weight: 600;
  color: var(--secondary-text-color);
  text-align: center;
  font-feature-settings: var(--all-small-caps), "onum" off;
  letter-spacing: 0.1em;
}

.pagination a {
  color: var(--secondary-text-color);
}

.pagination a:hover {
  color: var(--accent-color);
}

.pagination a:active {
  opacity: 75%;
}

.older-posts,
.newer-posts,
.prev-post,
.next-post {
  flex-grow: 1;
}

.older-posts,
.prev-post {
  text-align: left;
}

.newer-posts,
.next-post {
  text-align: right;
}

.extra-pagination {
  display: none;
}

.extra-pagination .pagination {
  width: auto;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
  display: flex;
}
