.post {
  position: relative;
  margin: var(--post-padding) calc(-1 * var(--post-padding));
  padding: var(--post-padding);
  padding-bottom: 0.5rem; /* Account for bottom margin of last paragraph/element */
  word-break: break-word;
  background-color: var(--post-background-color);
  border: 1px solid var(--post-border-color);
  border-radius: var(--post-border-radius);
  box-shadow: var(--post-shadow);
  font-style: normal;
  -moz-border-radius: var(--post-border-radius);
  -webkit-border-radius: var(--post-border-radius);
  -moz-box-shadow: var(--post-shadow);
  -webkit-box-shadow: var(--post-shadow);
  overflow: hidden;
}

.post-header {
  margin-bottom: 0.5rem;
}

.post-title {
  margin: 0;
}

.post-title,
.page-title {
  font-size: var(--font-size-plus-5);
}

.post-loop-item .post-title {
  font-size: var(--font-size-plus-4);
}

.link-post .link-arrow  {
  font-size: var(--font-size-plus-1);
  vertical-align: baseline;
}

.post-meta {
  font-family: var(--sans);
  margin-top: 0.25rem;
  font-size: var(--font-size-minus-1);
  color: var(--secondary-text-color);
  font-weight: 300;
}

.post-meta a {
  color: inherit;
}

.post-meta a:hover {
  color: var(--accent-color);
}

.post-meta .permalink {
  font-size: var(--font-size-minus-2);
}

.post-header img {
  width: calc(100% + 2 * var(--post-padding) + 2px);
  margin: calc(-1 * var(--post-padding) - 1px);
  margin-bottom: 0.5rem;
  aspect-ratio: auto;
  height: auto;
}

.footnotes-sep {
  display: none;
}

.post-content a:hover,
.page-content a:hover {
  margin: -3px;
  padding: 2px;
  background: var(--link-highlight-color);
  border: 1px solid var(--link-highlight-border-color);
  border-radius: 5px;
}

.post-title a {
  color: inherit;
}

.post-title a:hover {
  color: var(--accent-color) !important;
}

.post-title a:active {
  opacity: 75%;
}

