:root {
  --light-background-color: #f4f4f4;
  --dark-background-color: #060316;
  --background-color: light-dark(var(--light-background-color), var(--dark-background-color));
  --post-background-color: light-dark(#ffffff, #171823);
  --post-border-color: light-dark(var(--light-border-color), var(--dark-border-color));
  --footnote-background-color: light-dark(#fafafa, #1d1e29);
  --footnote-border-color: light-dark(#c3c3c3, var(--dark-border-color));
  --table-header-background-color: light-dark(#bfc3c5, #5f676b);
  --light-border-color: #e5e7e9;
  --dark-border-color: #22242f;

  --dark-text-color: #262a2c;
  --light-text-color: #dfe1e2;
  --main-text-color: light-dark(var(--dark-text-color), var(--light-text-color));
  --secondary-text-color: light-dark(#5f676b, #9eabb3);
  --footnote-button-color: light-dark(#bfc3c5, #5f676b);
  --accent-color: #ff4500;

  --link-highlight-color: rgba(158, 171, 179, 0.2);
  --link-highlight-border-color: rgba(95, 104, 110, 0.2);
  --epg-box-highlight: var(--accent-color) !important;  /* Eleventy Post Graph highlights */

  --post-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  --post-border-radius: 0.75rem;

  --default-font-features: "onum";
  --small-caps: var(--default-font-features), "smcp";
  --all-small-caps: var(--default-font-features), "c2sc", "smcp";
  --mono-font-features: "ss02", "liga", "calt", "onum", "ss11", "ss13";

  --sans: Concourse, sans-serif;
  --serif: Valkyrie, serif;
  --mono: ml, monospace;

  --font-size-minus-3: 0.702rem;
  --font-size-minus-2: 0.79rem;
  --font-size-minus-1: 0.889rem;
  --font-size: 1rem;
  --font-size-plus-1: 1.266rem;
  --font-size-plus-2: 1.424rem;
  --font-size-plus-3: 1.602rem;
  --font-size-plus-4: 1.802rem;
  --font-size-plus-5: 2.027rem;
  --font-size-plus-6: 2.281rem;
  --font-size-plus-7: 2.566rem;
  --font-size-plus-8: 2.887rem;

}
