{%- set pageTitle %}
    {%- if title -%}
        {{ title }} | {{ site.title }}
    {%- else -%}
        {{ site.title }}
    {%- endif -%}
{% endset -%}

<!doctype html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pageTitle }}</title>
        <meta name="description" content="{{ description or site.description }}">
        
        {#- OpenGraph metadata #}
        <meta property="og:title" content="{{ pageTitle }}" />
        <meta property="og:description" content="{{ description or site.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url }}" />
        {% if featured_image -%}
            <meta property="og:image" content="{{ featured_image.url }}">
        {% else -%}
            <meta property="og:image" content="/assets/img/opengraph.png">
        {% endif %}

        {#- Atom and JSON feeds included by default #}
        <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
        <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
        
        {#- Favicons/Apple touch icons #}
        <link rel="shortcut icon" href="assets/icons/favicon.ico" />
        <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="assets/icons/favicon.ico">
        <link rel="icon" sizes="32x32" href="assets/icons/favicon-32.png" >
        <link rel="apple-touch-icon" sizes="57x57" href="assets/icons/favicon-57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/icons/favicon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/icons/favicon-114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/icons/favicon-120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/icons/favicon-144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/icons/favicon-152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/favicon-180.png">
        <link rel="apple-touch-icon" sizes="192x192" href="assets/icons/favicon-192.png">
        
        {#- Bigfoot - popover footnotes #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/bigfoot.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/bigfoot-number.css" />
        <script type="text/javascript">
            $.bigfoot();
        </script>
        
        {#- Font Awesome icons #}
        <script src="https://kit.fontawesome.com/8be7adf8bc.js" crossorigin="anonymous"></script>
        
        {# {%- js %}{% include "assets/js/script.js" %}{% endjs %}
        <script>{% getBundle "js" %}</script> -#}
        
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

        <meta name="generator" content="{{ eleventy.generator }}">
    </head>
    <body>
        <a href="#skip" class="visually-hidden">Skip to main content</a>

        <header class="main">
            <section class="site-title"><a href="/" class="home-link">{{ site.title }}</a></section>
            {% include "includes/navigation.njk" %}
        </header>
        <main id="skip" class="content" role="main">
            {{ content | safe }}
        </main>
        <footer class="main">
            <section class="copyright">&copy; 2012–{% year %} Sean Lunsford</section>
            <ul class="footer-links">
                <li><a href="/feed.xml"><i class="fa-solid fa-square-rss"></i></a></li>
                {%if site.github_url -%}
                    <li><a rel="me" href="{{ site.github_url }}"><i class="fa-brands fa-github"></i></a></li>
                {% endif -%}
                
                {%if site.author.mastodon_url -%}
                    <li><a rel="me" href="{{ site.author.mastodon_url }}"><i class="fa-brands fa-mastodon"></i></a></li>
                {% endif -%}
                
                {%if site.author.threads_url -%}
                    <li><a rel="me" href="{{ site.author.threads_url }}"><i class="fa-brands fa-threads"></i></a></li>
                {% endif -%}
            </ul>
        </footer>
    </body>
    {#- Run script after load #}
    {#- <script>acronyms();</script> #}
</html>
