@font-face {
	font-family: Lang;
	src: url('/assets/fonts/AT-Lang-Variable.woff2') format('woff2');
}

@font-face {
	font-family: Lang;
	src: url('/assets/fonts/AT-Lang-Italic-Variable.woff2') format('woff2');
	font-style: italic;
}

@font-face {
	font-family: 'Name Sans';
	src: url('/assets/fonts/ATNameSansVariable-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Name Sans Text';
	src: url('/assets/fonts/ATNameSansText-Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Name Sans Text';
	src: url('/assets/fonts/ATNameSansText-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Name Sans Text';
	src: url('/assets/fonts/ATNameSansText-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Name Sans Text';
	src: url('/assets/fonts/ATNameSansText-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Name Sans Text';
	src: url('/assets/fonts/ATNameSansText-Bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'Name Sans Text';
	src: url('/assets/fonts/ATNameSansText-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}
