/*!
* @preserve
* MonoLisa 2.015
* This font is subject to a EULA. A user-licence can be acquired at:
*   https://www.monolisa.dev/license
* © 2024 FaceType Foundry. All Rights Reserved.
*/

@font-face {
  src: url(/assets/fonts/monolisa/0-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0020-007F;
}

@font-face {
  src: url(/assets/fonts/monolisa/1-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0020-007F;
}

@font-face {
  src: url(/assets/fonts/monolisa/2-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0080-00FF;
}

@font-face {
  src: url(/assets/fonts/monolisa/3-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0080-00FF;
}

@font-face {
  src: url(/assets/fonts/monolisa/4-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0100-017F;
}

@font-face {
  src: url(/assets/fonts/monolisa/5-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0100-017F;
}

@font-face {
  src: url(/assets/fonts/monolisa/6-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2000-206F;
}

@font-face {
  src: url(/assets/fonts/monolisa/7-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2000-206F;
}

@font-face {
  src: url(/assets/fonts/monolisa/8-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2300-23FF;
}

@font-face {
  src: url(/assets/fonts/monolisa/9-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2300-23FF;
}

@font-face {
  src: url(/assets/fonts/monolisa/10-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2190-21FF;
}

@font-face {
  src: url(/assets/fonts/monolisa/11-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2190-21FF;
}

@font-face {
  src: url(/assets/fonts/monolisa/12-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2B00-2BFF;
}

@font-face {
  src: url(/assets/fonts/monolisa/13-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2B00-2BFF;
}

@font-face {
  src: url(/assets/fonts/monolisa/14-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+20A0-20CF;
}

@font-face {
  src: url(/assets/fonts/monolisa/15-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+20A0-20CF;
}

@font-face {
  src: url(/assets/fonts/monolisa/16-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2200-22FF;
}

@font-face {
  src: url(/assets/fonts/monolisa/17-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2200-22FF;
}

@font-face {
  src: url(/assets/fonts/monolisa/18-normal.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2500-257F;
}

@font-face {
  src: url(/assets/fonts/monolisa/19-italic.woff2) format("woff2");
  font-family: MonoLisa;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2500-257F;
}
