.post-list,
.categories-list {
  list-style: none;
  padding: 0;
}

.post-list-item,
.categories-list-item {
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 0.5rem;
}

.post-list-title,
.categories-list-title {
  font-weight: 600;
}
