:root {
  --background-color: #f4f4f4;
  --post-background-color: #ffffff;
  --post-border-color: #e5e7e9;
  
  --main-text-color: #262a2c;
  --secondary-text-color: #5f676b;
  --footnote-button-color: #bfc3c5;
  --accent-color: #ff4500;
  
  --link-highlight-color: rgba(158, 171, 179, 0.2);
  --link-highlight-border-color: rgba(95, 104, 110, 0.2);
  --epg-box-highlight: var(--accent-color) !important;  /* Eleventy Post Graph highlights */
  
  --post-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  --post-border-radius: 0.75rem;

  --default-font-features: "onum";
  --small-caps: var(--default-font-features), "smcp";
  --all-small-caps: var(--default-font-features), "c2sc", "smcp";

  --sans: 'Name Sans', Avenir, Montserrat, Corbel, 'URW Gothic',
          source-sans-pro, sans-serif;
  --sans-text: 'Name Sans Text', var(--sans);
  --slab: Lang, Rockwell, 'Rockwell Nova', 'Roboto Slab',
          'DejaVu Serif', 'Sitka Small', serif;
  --mono: 'Name Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro',
          Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --font-size-minus-3: 0.702rem;
  --font-size-minus-2: 0.79rem;
  --font-size-minus-1: 0.889rem;
  --font-size-plus-1: 1.266rem;
  --font-size-plus-2: 1.424rem;
  --font-size-plus-3: 1.602rem;
  --font-size-plus-4: 1.802rem;
  --font-size-plus-5: 2.027rem;
  --font-size-plus-6: 2.281rem;
  --font-size-plus-7: 2.566rem;
  --font-size-plus-8: 2.887rem;
  
  @media (prefers-color-scheme: dark) {
    --background-color: #060316;
    --post-background-color: #171823;
    --post-border-color: #22242f;
    
    --main-text-color: #dfe1e2;
    --secondary-text-color: #9eabb3;
    --footnote-button-color: #5f676b;
    
    /* --post-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9); */
  }
}
