@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_2_regular.woff2') format('woff2');
	font-weight: 200;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_3_regular.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_4_regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_6_regular.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_7_regular.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_8_regular.woff2') format('woff2');
	font-weight: 800;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_2_italic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_3_italic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_4_italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_6_italic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_7_italic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Concourse;
	src: url('/assets/fonts/concourse_8_italic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Concourse Caps";
	src: url('/assets/fonts/concourse_2_caps_regular.woff2') format('woff2');
	font-weight: 200;
}

@font-face {
	font-family: "Concourse Caps";
	src: url('/assets/fonts/concourse_3_caps_regular.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: "Concourse Caps";
	src: url('/assets/fonts/concourse_4_caps_regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: "Concourse Caps";
	src: url('/assets/fonts/concourse_6_caps_regular.woff2') format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: "Concourse Caps";
	src: url('/assets/fonts/concourse_7_caps_regular.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: "Concourse Caps";
	src: url('/assets/fonts/concourse_8_caps_regular.woff2') format('woff2');
	font-weight: 800;
}

@font-face {
	font-family: Triplicate;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/triplicate_a_code_regular.woff2') format('woff2');
}

@font-face {
	font-family: Triplicate;
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/triplicate_a_code_italic.woff2') format('woff2');
}

@font-face {
	font-family: Triplicate;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/triplicate_a_code_bold.woff2') format('woff2');
}

@font-face {
	font-family: Triplicate;
	font-style: italic;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/triplicate_a_code_bold_italic.woff2') format('woff2');
}

@font-face {
	font-family: Valkyrie;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/valkyrie_a_regular.woff2') format('woff2');
}

@font-face {
	font-family: Valkyrie;
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/valkyrie_a_italic.woff2') format('woff2');
}

@font-face {
	font-family: Valkyrie;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/valkyrie_a_bold.woff2') format('woff2');
}

@font-face {
	font-family: Valkyrie;
	font-style: italic;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/valkyrie_a_bold_italic.woff2') format('woff2');
}

@font-face {
	font-family: "Valkyrie Caps";
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/valkyrie_a_caps_regular.woff2') format('woff2');
}

@font-face {
	font-family: "Valkyrie Caps";
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	font-display: auto;
	src: url('/assets/fonts/valkyrie_a_caps_bold.woff2') format('woff2');
}
