@import "_fonts.css";

/*	==========================================================================
	General styles
	========================================================================== */

:root {
  --main-text-color: #262a2c;
  --secondary-text-color: #5f676b;
  --footnote-button-color: #bfc3c5;
  --background-color: #f4f4f4;
  --post-background-color: #ffffff;
  --post-border-color: #e5e7e9;
  --link-highlight-color: rgba(158, 171, 179, 0.2);
  --link-highlight-border-color: rgba(95, 104, 110, 0.2);
  --accent-color: #ff4500;
  --epg-box-highlight: var(--accent-color) !important;  /* Eleventy Post Graph highlights */
  
  --post-border-radius: 0.75rem;

  --default-font-features: "onum";
  --small-caps: var(--default-font-features), "smcp";
  --all-small-caps: var(--default-font-features), "c2sc", "smcp";

  --sans: 'Name Sans', Avenir, Montserrat, Corbel, 'URW Gothic',
          source-sans-pro, sans-serif;
  --sans-text: 'Name Sans Text', var(--sans);
  --slab: Lang, Rockwell, 'Rockwell Nova', 'Roboto Slab',
          'DejaVu Serif', 'Sitka Small', serif;
  --mono: 'Name Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro',
          Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --font-size-minus-3: 0.702rem;
  --font-size-minus-2: 0.79rem;
  --font-size-minus-1: 0.889rem;
  --font-size-plus-1: 1.266rem;
  --font-size-plus-2: 1.424rem;
  --font-size-plus-3: 1.602rem;
  --font-size-plus-4: 1.802rem;
  --font-size-plus-5: 2.027rem;
  --font-size-plus-6: 2.281rem;
  --font-size-plus-7: 2.566rem;
  --font-size-plus-8: 2.887rem;
}

html {
  height: 100%;
  max-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 18px;
}

body {
  font-feature-settings: var(--default-font-features);
  font-variant-ligatures: contextual;
  height: 100%;
  max-height: 100%;
  width: 80%;
  max-width: 35rem;
  margin: 0 auto;
  font-family: var(--sans);
  font-style: normal;
  font-weight: 300;
  color: var(--main-text-color);
  background-color: var(--background-color);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

b, strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25rem 0 0.5rem;
  font-family: var(--sans);
  font-style: normal;
}

h1 {
  font-size: var(--font-size-plus-4);
  font-weight: 1000;
}

h2 {
  font-size: var(--font-size-plus-3);
  font-weight: 100;
}

h3 {
  font-size: var(--font-size-plus-1);
  font-weight: 800;
}

h1 b,
h1 strong,
h2 b,
h2 strong {
  font-weight: 900;
}

h3 b,
h3 strong {
  font-weight: 700;
}

a {
  text-decoration: none !important;
}

p,
ul,
ol {
  margin: 0 0 0.75rem;
  line-height: 1.45;
  -webkit-hyphens: auto;
  hyphens: auto;
  hanging-punctuation: first;
  font-family: var(--sans-text);
}

code,
tt,
pre {
  font-family: var(--mono);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-minus-1);
  white-space: pre-wrap;
  border: none;
  background: none;
  -webkit-hyphens: none;
  hyphens: none;
}

pre {
  margin: 0.75rem;
  padding: 0.75rem;
  background: var(--background-color);
  border: 1px solid var(--post-border-color);
  border-radius: 5px;
  font-size: var(--font-size-minus-2);
}

code b,
pre b {
  font-weight: 700;
}

/* :not(pre) > code {
  padding: 2px 4px;
  background: var(--background-color);
  border: 1px solid var(--post-border-color);
  border-radius: 5px;
} */

acronym, .small-caps {
  font-feature-settings: var(--all-small-caps);
  letter-spacing: 1px;
}

blockquote {
  margin: 0 0.75rem 0.75rem;
  padding: 0 0.75rem;
  border-left: 3px solid var(--accent-color);
  font-size: var(--font-size-minus-1);
  line-height: 1.45;
}

blockquote p {
  margin: 0.5rem 0;
}

blockquote code {
  padding: 0 2px;
}

cite {
  color: var(--secondary-text-color);
  font-size: var(--font-size-minus-2);
  font-style: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: var(--secondary-text-color) 1px solid;
}

/* Links */
a {
  color: var(--accent-color);
  text-decoration: none;
}

.post :not(.post-title) > a:hover,
.page :not(.page-title) > a:hover {
  margin: -3px;
  padding: 2px;
  background: var(--link-highlight-color);
  border: 1px solid var(--link-highlight-border-color);
  border-radius: 5px;
}

/* .page :not(.page-title) > a:hover {
  background: var(--post-background-color);
} */

.site-title a,
.post-title a,
.page-title a {
  color: inherit;
}

.post-title a:hover,
.page-title a:hover {
  color: var(--accent-color) !important;
}

.post-title a:active,
.page-title a:active {
  opacity: 75%;
}

.site-title a:active {
  color: var(--accent-color);
}

/* Tweak Bigfoot footnote style */
.bigfoot-footnote__content {
  line-height: 1.3;
  font-size: var(--font-size-minus-1);
}

.bigfoot-footnote__button {
  font-feature-settings: "onum" off;
  font-weight: 400;
  background-color: var(--footnote-button-color);
}

.bigfoot-footnote__button:hover {
  background-color: var(--accent-color);
}

.bigfoot-footnote__button.is-active {
  opacity: 85%;
}

.bigfoot-footnote__button:after {
  color: var(--main-text-color);
}

/* Tables and dictionaries
   (straight up ripped out of the Casper stylesheet with minor modifications) */

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.7em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

th,
td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: #efefef 1px solid;
}

td h3,
td h4,
td h5,
td h6 {
  margin: 0 0 0.5rem 0;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: #efefef 2px solid;
}

table table table {
  background-color: #fff;
}

th {
  color: #000;
  background-color: #f6f6f6;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

/*	==========================================================================
	Site header
	========================================================================== */

.main-header {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-top: 0.75rem;
  overflow: hidden;
}

.main-header-content {
  height: auto;
}

.site-title,
.site-description {
  display: inline-block;
}

.site-title {
  margin: 0;
  padding: 0;
  font-family: var(--slab);
  font-size: var(--font-size-plus-8);
  font-weight: 900;
}

.site-description {
  margin: 0;
  font-family: var(--sans-text);
  font-size: var(--font-size-minus-1);
  font-weight: 300;
  font-style: italic;
  color: var(--secondary-text-color);
}

/*	==========================================================================
	Navigation
	========================================================================== */

.nav {
  display: block;
  margin: 0;
  padding: 0;
  font-family: var(--slab);
  font-size: var(--font-size-minus-1);
  font-weight: 500;
  font-feature-settings: var(--all-small-caps);
  letter-spacing: 1px;
}

.nav li {
  margin: 0;
  margin-right: 1rem;
  display: inline-block;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.nav a:hover {
  color: var(--accent-color);
}

.nav a:active {
  opacity: 75%;
}

a.nav-current {
  color: var(--accent-color);
}

a.nav-home {
  color: var(--secondary-text-color);
}

/*	==========================================================================
	Site footer
	========================================================================== */

.site-footer {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  row-gap: 0.5rem;
  column-gap: 1rem;
  width: 100%;
  margin-top: 1.25rem;
  padding-bottom: calc(1.25rem + var(--font-size-minus-1));
  text-align: center;
  overflow: hidden;
  font-size: var(--font-size-minus-1);
}

.site-footer,
.site-footer a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.site-footer a:hover {
  color: var(--accent-color);
}

.site-footer a:active {
  opacity: 75%;
}

/* .site-footer .copyright {
  order: 3;
}

.site-footer .powered-by {
  order: 2;
}

.site-footer .footer-links {
  order: 1;
} */

.site-footer .footer-links a {
  margin-left: 0.5rem;
}

.site-footer .footer-links a:first-child {
  margin-left: 0;
}

/*	==========================================================================
	Posts/Pages
	========================================================================== */

.post {
  position: relative;
  margin: 1.25rem -1.25rem;
  padding: 1.25rem;
  padding-bottom: 0.5rem; /* Account for bottom margin of last paragraph/element */
  word-break: break-word;
  background-color: var(--post-background-color);
  border: 1px solid var(--post-border-color);
  border-radius: var(--post-border-radius);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  font-family: var(--sans);
  font-style: normal;
}

.post-header,
.page-header {
  margin-bottom: 0.5rem;
}

.post-title,
.page-title {
  margin: 0;
}

.post-meta {
  font-family: var(--sans-text);
  margin-top: 0.25rem;
  font-size: var(--font-size-minus-1);
  color: var(--secondary-text-color);
  font-weight: 300;
}

.post-header img {
  width: calc(100% + 2.5rem + 2px);
  max-width: calc(100% + 2.5rem + 2px);
  aspect-ratio: auto;
  height: auto;
  margin: calc(-1.25rem - 1px);
  margin-bottom: 0.5rem;
  border-top-left-radius: var(--post-border-radius);
  border-top-right-radius: var(--post-border-radius);
}

.footnotes-sep {
  display: none;
}

.page-404 {
  text-align: center;
}

.page-404 .page-title {
  font-size: 6rem;
  font-weight: 100;
  font-feature-settings: var(--default-font-features), "zero";
}

.page-404 h2 {
  margin: 0;
}

.page-404 .page-header {
  margin-bottom: 2rem;
}

/* Post List */

.post-list,
.categories-list {
  list-style: none;
  padding: 0;
}

.post-list-item,
.categories-list-item {
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 0.5rem;
}

.post-list-title,
.categories-list-title {
  font-weight: 600;
}

/*	==========================================================================
	Collections
	========================================================================== */

.collection-title {
  font-size: var(--font-size-plus-6);
}

.collection-description {
  font-size: var(--font-size-minus-1);
  font-weight: 300;
  color: var(--secondary-text-color);
}

/* ==========================================================================
   Pagination
   ========================================================================== */

/* The main wrapper for pagination links */
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 1.25rem auto;
  font-size: var(--font-size-minus-3);
  font-weight: 600;
  color: var(--secondary-text-color);
  text-align: center;
  font-feature-settings: var(--default-font-features), "onum" off;
  text-transform: uppercase;
}

.pagination a {
  color: var(--secondary-text-color);
}

.pagination a:hover {
  color: var(--accent-color);
}

.pagination a:active {
  opacity: 75%;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts,
.prev-post,
.next-post {
  flex-grow: 1;
}

.older-posts,
.prev-post {
  text-align: left;
}

.newer-posts,
.next-post {
  text-align: right;
}

.extra-pagination {
  display: none;
}

.extra-pagination .pagination {
  width: auto;
}

/* On page2+ show extra pagination controls at the top of post list */
.paged .extra-pagination {
  display: flex;
}

/*	==========================================================================
	Subscribe Form
	========================================================================== */

.embeddable-buttondown-form .input-grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.25rem;
  column-gap: 0.5rem;
  margin: 0.75rem 0;
}

.embeddable-buttondown-form label {
  display: none;
}

.embeddable-buttondown-form #bd-email,
.embeddable-buttondown-form #bd-submit {
  min-height: 1.75rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--sans);
  font-size: var(--font-size-plus-1);
  border: 0.5px solid var(--post-border-color);
}

.embeddable-buttondown-form #bd-email {
  flex-basis: 16rem;
  flex-grow: 3;
  max-width: 100%;
  background-color: var(--post-background-color);
  color: var(--main-text-color);
  font-weight: 200;
}

.embeddable-buttondown-form #bd-submit {
  flex-basis: 100px;
  flex-grow: 1;
  background-color: var(--main-text-color);
  color: #ffffff;
  font-weight: 900;
}

.embeddable-buttondown-form #bd-submit:hover {
  background-color: var(--accent-color);
  color: #ffffff !important;
}

.powered-by-buttondown {
  margin-top: 0.75rem;
  font-size: var(--font-size-minus-2);
}

.powered-by-buttondown a {
  color: var(--secondary-text-color);
}

.powered-by-buttondown a:hover {
  color: var(--accent-color);
}

/* ==========================================================================
   12. Media Queries - Smaller sizes
   ========================================================================== */

/* @media only screen and (max-width: 1000px) {
  .site-footer {
    padding-bottom: calc(98px + 1.25rem);
  }
} */

@media only screen and (max-width: 570px) {
  html {
    /* font-size: 16px; */
    padding: 0 1.25rem;
  }

  body {
    margin: auto;
    width: auto;
  }

  .site-title {
    font-size: 9vw;
  }

  .post,
  .page {
    margin: 0.75rem -0.75rem;
    padding: 0.75rem;
  }

  .post-header img,
  .page-header img {
    width: calc(100% + 1.5rem + 2px) !important;
    max-width: calc(100% + 1.5rem + 2px) !important;
    margin: calc(-0.75rem - 1px);
    margin-bottom: 0.75rem;
  }

  .bigfoot-footnote__content {
    padding: 0.65rem 0.75rem 0.75rem;
  }
  
  .site-footer {
    justify-content: center;
  }
}

@media only screen and (max-width: 370px) {
  .site-description {
    margin-top: -1rem;
  }
  
  .page-404 .page-title {
    font-size: 30vw;
  }
  
  .embeddable-buttondown-form #bd-email {
    font-size: 1rem;
  }
}

/* 🌑 DARK MODE 🌑 */
@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #dfe1e2;
    --secondary-text-color: #9eabb3;
    --footnote-button-color: #5f676b;
    --background-color: #060316;
    --post-background-color: #171823;
    --post-border-color: #22242f;
  }
  
  .bigfoot-footnote, .bigfoot-footnote__wrapper, .bigfoot-footnote__content, .bigfoot-footnote__tooltip {
    background: var(--background-color);
  }
  
  .bigfoot-footnote, .bigfoot-footnote__tooltip {
    border-color: var(--post-border-color);
  }

  .post {
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .embeddable-buttondown-form #bd-submit {
    background-color: var(--post-background-color);
    color: var(--main-text-color);
  }
}
