#mc_embed_signup,
#mc_embed_signup .helper_text {
    background: #f0f0f0;
}

#mc_embed_signup {
    margin-bottom: 0.75rem;
    border: 0.5px solid var(--post-border-color);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    font-family: var(--sans);
    font-size: 1rem;
}

#mc_embed_signup form {
    margin: 0.75rem;
}

#mc_embed_signup .mc-field-group label {
    font-family: var(--sans-caps);
    font-feature-settings: 'c2sc';
    font-weight: 300;
}

#mc_embed_signup .asterisk,
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error,
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    color: var(--accent-color);
}

#mc_embed_signup .button {
    background-color: #101213;
    font-family: var(--sans-caps);
    font-feature-settings: 'c2sc';
    font-weight: 300;
}

#mc_embed_signup .button:hover {
    background-color: var(--accent-color);
}

#mc_embed_signup a {
    margin: inherit;
    padding: inherit;
    background: inherit;
    border: inherit;
}

@media (prefers-color-scheme: dark) {
    #mc_embed_signup,
    #mc_embed_signup .helper_text {
        background: #3a4046;
    }

    #mc_embed_signup {
        box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    }
}
