---
links:
  - text: Freelance
    url: https://lunsford.tech/
  - text: Diapers & Coffee
    url: https://diapers.coffee/
---

{% include "includes/header.njk" %}
        <main id="skip" class="content" role="main">
            {{ content | safe }}
        </main>
{% include "includes/footer.njk" %}
