---
layout: layouts/base.njk
permalink: "/{{slug or title | slugify}}/"
---

<article class="page">
    <header class="page-header">
        {%- if feature_image %}
        <img src="{{feature_image}}"></img>
        {%- endif %}
        <h1 class="page-title">{{title}}</h1>
    </header>
    <section class="page-content">
        {{ content | safe }}
    </section>
</article>
