        <footer>
            <span class="copyright">&copy; 2023 Sean Lunsford</span>
            <span class="footer-links">
                <a rel="me" href="https://data-folks.masto.host/@sean">Mastodon</a>
                <a href="/feed.xml">RSS Feed</a>
                <a href="/feed.json">JSON Feed</a>
            </span>
        </footer>
    </body>
</html>
