<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %}{{ title }} –&nbsp;{% endif %}{{ metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">

        {#- Atom and JSON feeds included by default #}
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
        
        {# Bigfoot - popover footnotes #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/bigfoot.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/bigfoot-number.css" />
        <script type="text/javascript">
            $.bigfoot();
        </script>
        
        {# Adobe Fonts #}
        <link rel="stylesheet" href="https://use.typekit.net/qhq3fas.css">
        
        {# Font Awesome icons #}
        <script src="https://kit.fontawesome.com/8be7adf8bc.js" crossorigin="anonymous"></script>
        
        {%- js %}{% include "assets/js/script.js" %}{% endjs %}
        <script>{% getBundle "js" %}</script>
        
        {% getBundle "html" %}
        
        {# <link rel="stylesheet" type="text/css" href="/assets/css/fonts.css" /> #}
        {# <link rel="stylesheet" type="text/css" href="/assets/css/style.css" /> #}
        {%- css %}{% include "assets/css/style.css" %}{% endcss %}
        <style>{% getBundle "css" %}</style>
        
        {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
        <meta name="generator" content="{{ eleventy.generator }}">
    </head>
    <body>
        <a href="#skip" class="visually-hidden">Skip to main content</a>

        <header>
            <div class="main-header-content">
                <h1 class="site-title"><a href="/" class="home-link">{{ metadata.title }}</a></h1>
                {%if metadata.description %}<section class="site-description">{{ metadata.description }}</section>{% endif %}
            </div>

            {% include "includes/navigation.njk" %}
        </header>
