{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
<nav>
    <h2 class="visually-hidden">Top level navigation menu</h2>
    <ul class="nav">
    {%- for entry in nav %}
        {% set entryUrlWithSlash = entry.url + '/' %}
        <li class="nav-item{% if entry.url == page.url or entryUrlWithSlash == page.url %} nav-current{% endif %}"><a href="{{ entry.url }}">{{ entry.title }}</a></li>
    {%- endfor %}
    </ul>
</nav>
