{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<nav class="pagination" role="navigation">
    {%- if previousPost %}
    <a class="prev-post" href="{{ previousPost.url }}">&larr; {% if previousPost.data.title %}{{ previousPost.data.title }}{% else %}Previous{% endif %}</a>
    {% endif %}
    <span>&nbsp;</span>
    {%- if nextPost %}
    <a class="next-post" href="{{ nextPost.url }}">{%if nextPost.data.title %}{{ nextPost.data.title }}{% else %}Next{% endif %} &rarr;</a>
    {% endif %}
</nav>
{%- endif %}
{%- endif %}
