{% if pagination.pageNumber > 0 %}
{% include "includes/post-list-pagination.njk" %}
{% endif %}

{% for post in posts %}
	{% include "includes/post-loop-item.njk" %}
{% endfor %}

{% include "includes/post-list-pagination.njk" %}
