<nav class="pagination">
{% if pagination.href.next %}<a class="older-posts" href="{{ pagination.href.next }}">&lt;-: OLDER :-&lt;</a>{% endif %}
{% if pagination.href.previous %}<a class="newer-posts" href="{{ pagination.href.previous }}">&gt;-: NEWER :-&gt;</a>{% endif %}
</nav>
