<form
  action="https://buttondown.email/api/emails/embed-subscribe/seanlunsford"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/seanlunsford', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Email</label>
  
  <section class="input-grid">
    <input type="email" name="email" id="bd-email" placeholder="you@example.com" />
    <input type="submit" value="Subscribe" id="bd-submit" />
  </section>
</form>
