<form
  action="https://buttondown.email/api/emails/embed-subscribe/seanlunsford"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/seanlunsford', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.email/refer/seanlunsford" target="_blank">Powered by Buttondown.</a>
  </p>
</form>
