---
title: Page Not Found
layout: layouts/base.njk
permalink: 404.html
---

<article class="page page-404">
    <header class="page-header">
        <h1 class="page-title">404</h1>
    </header>
    <section class="page-content">
        <p>This isn’t the page you’re looking for.</p>
        <p>Maybe try the <a href="/">home page</a> or the <a href="/archive/">archive</a>.</p>
    </section>
</article>
