---
title: Archive
layout: layouts/page.njk
eleventyNavigation:
  key: Archive
  order: 3
---

<h2>Categories</h2>
{% include "includes/categories-list.njk" %}

<h2>All Posts</h2>
{% set posts = collections.posts %}
{% include "includes/post-list.njk" %}

{% postGraph collections.posts %}
