---
pagination:
  data: collections.categories
  size: 1
  alias: category
layout: layouts/base.njk
eleventyComputed:
  title: "{{ category.title }}"
permalink: /categories/{{ category.title | slugify }}/
---
<article class="page">
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>
    <section class="page-content">
        {% set posts = category.posts %}
        {% include "includes/post-list.njk" %}
    </section>
</article>
