---
layout: layouts/base.njk
pageID: highlights
title: Highlights
pagination:
  data: collections.highlights
  size: 5
  reverse: true
  alias: posts
permalink: "/highlights/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}{% endif %}/"
---

<h1 class="collection-title">Highlights</h1>
<p class="collection-description">Some of my (subjectively) better pieces</p>

{% include "includes/post-loop.njk" %}


