---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: {{ tag }}
permalink: /tag/{{ tag | slugify }}/
---
<article class="page">
    <header class="page-header">
        <h1 class="page-title">{{ tag }}</h1>
    </header>
    <section class="page-content">
        {% set posts = collections[ tag ] %}
        {% include "includes/post-list.njk" %}
    </section>
</article>
