---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: page.njk
eleventyComputed:
  title: "{{ tag }}"
  permalink: /tag/{{ tag | slugify }}/
---
{% set posts = collections[ tag ] %}
{% include "includes/post-list.njk" %}

{% postGraph posts %}
